div {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

mat-card {
    width: 100%;
    margin-bottom: 20px;
}

mat-icon {
    font-size: 2.4rem;
    margin-bottom: 20px;
}
mat-icon:hover {
    cursor: pointer;
}